version: '3.5'

services:
  api_server:
    depends_on:
      - db
    image: bollsvenskan-api
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "5000:${API_SERVER_PORT}"
    env_file: .env

  db:
    image: postgres:11-alpine
    restart: always
    volumes:
      - ./database/data:/var/lib/postgresql/data
      - ./database/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    env_file: .env

  adminer:
    depends_on:
      - db
    image: adminer
    restart: on-failure
    ports:
      - "8080:8080"

  prometheus:
    image: prom/prometheus
    restart: always
    volumes:
      - prometheus-volume:/prometheus
      - ./prometheus-config:/etc/prometheus
    ports:
      - "9090:9090"

  grafana:
    depends_on:
      - prometheus
    image: grafana/grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - grafana-volume:/var/lib/grafana
    env_file: .env


volumes:
  prometheus-volume:
    name: bollsvenskan-api-prometheus-volume
  grafana-volume:
    name: bollsvenskan-api-grafana-volume

